<div class="container-fluid">
  <div class="row">
      <div class="col-3">
        <%= render 'form', room: Room.new %>
        <hr>
        <% @rooms.each do |room| %>
          <div class="card col mb-3">
          <%= link_to room do %>
              <div class="card-body">
                <%= room.name %>
              </div>
          <% end %>
          <%= button_to "Destroy this room", @room, method: :delete %>
          </div>
        <% end %>
      </div>
      <div class="col-8">
        <% if @room.present? %>
        <div class="chat-room">
          <nav class="navbar navbar-light bg-light mb-4">
          <span class="navbar-brand"><%= @room.name %></span>
          <ul class="navbar-nav">
            <li class="navbar-item">
              Hello, <%= current_user.username %>
            </li>
          </ul>
          </nav>
          <% @room.messages.each do |message|%>
            <div class="message mb-2 <%= 'me' if message.user == current_user %>" >
              <div class="content-container">
                <div class"content">
                  <%= message.content %>
                </div>
                <div class="author">
                  <%= message.user.username %>
                </div>
              </div>
            </div>
            <br>
          <% end %>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new, room: @room %>
          </div>
        </div>
        <% end %>
      </div>
  </div>
</div>